/* Root variables and global styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Global body styling */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Header styles */
.header {
  background-color: white;
  padding: 20px;
  text-align: center;
  color: #9e421b;
}

/* Full-width image section */
.full-width-image img {
  width: 100%;
  height: auto;
}

/* Text section */
.text-section {
  padding: 20px;
  text-align: left;
  background-color: #333333;
  color: white;
}

/* Image card section */
.image-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.image-card {
  width: 24%;
  background-color: #444444;
  padding: 10px;
  border-radius: 8px;
}

.image-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Preferences box */
.preferences-box {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.whatsapp-button, .enquire-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.whatsapp-button:hover, .enquire-button:hover {
  background-color: #388e3c;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto; /* Stick footer to the bottom */
}



/* Home.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.full-width-image img {
  width: 100%;
  height: auto;
}

.text-section, .image-card-section, .preferences-box {
  padding: 20px;
  text-align: left;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}
